name: compile ingDIY WLED

on:
    workflow_dispatch:
    push:
      branches:
      - master
      - release/*

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Display triggering branch
      run: |
        echo "Workflow triggered by branch: ${{ github.ref_name }}"

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio

    - name: Set up Node.js
      uses: actions/setup-node@v4

    - name: Install Dependencies
      run: |
        cd $GITHUB_WORKSPACE
        npm install

    - name: Build All with PlatformIO
      run: |
        cd $GITHUB_WORKSPACE
        platformio run

    - name: Copy Files
      run: |
        mkdir -p $GITHUB_WORKSPACE/_flashing
        cp $GITHUB_WORKSPACE/build_output/firmware/* $GITHUB_WORKSPACE/_flashing/

    - name: Add files to GIT
      run: |
        cd $GITHUB_WORKSPACE
        git config user.name "GitHub Actions Bot"
        git config user.email "<actions_bot@github.com>"
        git add $GITHUB_WORKSPACE/_flashing/*

    - name: Commit files (only from MASTER branch)
      if: github.ref_name == 'master'
      run: |
        # Committing files to MASTER branch...
        cd $GITHUB_WORKSPACE
        git commit -m "commit Actions Bot compiled builds"
        git push origin master

        # getting tag name from the last branch tag
        if git describe --tags --abbrev=0 >/dev/null 2>&1; then
          TAG_NAME=$(git describe --tags --abbrev=0)
          BUILD_TAG="${TAG_NAME}_build"
        else
          TAG_NAME=$(git rev-parse --short HEAD)
          BUILD_TAG="build_${TAG_NAME}"
        fi

        # sanity check for duplicated tag name
        if git rev-parse "$BUILD_TAG" >/dev/null 2>&1; then
          echo "tag $BUILD_TAG already exist: no tag was created."
        else
          git tag "$BUILD_TAG"
          git push origin "$BUILD_TAG"
        fi

        # Merging into DEVELOP branch...
        git pull
        git checkout develop
        git merge master
        git push origin develop

    - name: Build process successfully completed
      run: echo "Build process successfully completed"
